@use '../mixins.scss' as *;

@keyframes slide-open {
  0% { height: 0; }

  100% { height: 300px; }
}

.channel-panel {
  @include glass;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  transition: height 0.3s, transform 0.2s;
  width: 150px;

  &:not(:first-child) {
    animation: slide-open 0.2s;
  }

  > canvas {
    transition: opacity 0.2s;
  }

  &:hover {
    &::after {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &.collapsed {
    height: 22px;

    > canvas {
      opacity: 0;
    }

    &:active {
      transform: scale(0.95);
    }

    &::after {
      bottom: 0;
      content: '';
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.2s;
      z-index: 5;
    }
  }

  &.expanded {
    height: 328px;
  }

  &--header {
    color: #ddf;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  canvas {
    border-radius: 8px;
    cursor: pointer;
    height: 150px;
    opacity: 0.8;
    overflow: hidden;
    width: 150px;
  }
}