@use '../mixins.scss' as *;

.channel-manager {
  left: 10px;
  padding-bottom: 42px;
  position: absolute;
  top: 10px;

  &--add-channel-button {
    @include glass;
    border: 0;
    border-radius: 6px;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    left: 10%;
    padding: 6px 0 7px;
    position: absolute;
    transition: all 0.2s;
    width: 80%;

    &:hover {
      background-color: rgba(50, 100, 255, 0.5);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}