@keyframes reveal-knob {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slider {
  margin: 5px 0;
  position: relative;
  width: 100%;

  &--label {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
  }

  &--bar {
    background-color: #88a;
    border-radius: 2px;
    height: 3px;
    opacity: 0.2;
    width: 100%;

    &-fill {
      background-color: #88a;
      border-radius: 2px;
      height: 3px;
      position: relative;
      transform: translateY(-3px);
      width: 0;
    }
  }

  &--knob {
    animation: reveal-knob 0.2s;
    background-color: #88a;
    border-radius: 50%;
    cursor: grab;
    height: 19px;
    transform: translateY(-14px);
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 19px;

    &:hover, &:active {
      background-color: #fff;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
    }

    &:active {
      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.3);
      cursor: grabbing;
    }
  }
}