@use './mixins.scss' as *;

.pan-buttons {
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 200px;
  z-index: 10;

  .pan-button {
    @include glass;
    border: 0;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    padding: 0 10px 8px;
    transition: all 0.2s;
    width: 70px;

    &:hover {
      background-color: rgba(50, 100, 255, 0.5);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}